@charset "UTF-8";

.item {
  color: #fff;
  background: #00bbdd;
  width: 65px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.item-grid {
  color: #fff;
  background: #00bbdd;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}

.grid-auto {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}

.grid-auto-height {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}

.red {
  background: #dd0700;
  grid-column: span 2;
}

.green {
  background: #0bdd00;
  grid-row: span 2;
}

.yellow {
  background: #d9dd00;
  grid-column: span 2;
}

.grid-change {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}