@charset "UTF-8";

.cell--table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #000000;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0px;
}

tr {
  border: 1px solid #000000;
  text-align: center;
  line-height: 22px;
}

thead tr th {
  background: #319c4e;
  line-height: 26px;
}

/* tr:first-child {
  background: #319c4e;
} */

tbody tr:last-child {
  border-top: 1px double rgb(255,255,255);
}

tbody tr:nth-child(odd) {
  background: #d5ffc7;
  line-height: 26px;
}

tr:nth-child(even) {
  background: #bababa;
  line-height: 22px;
}

th {
  padding: 10px;
  border: 1px solid #000000;
}

td {
  border: 1px solid #000000;
  padding: 10px;
}

td:first-child {
  background: #319c4e;
}